/* Responsive Styles */
@media (min-width: 769px) {
    #menu {
        display: none; /* Hide hamburger on larger screens */
    }

    .navigation {
        display: flex;
        flex-direction: row;
    }

    .job-card img {
        width: 100%;
        height: relative;
        border-radius: 10px;
        animation: fade 10s;
        margin: 10px;
    }

    .navigation a {
        flex: 1 1 100%;
        text-align: center;
        padding: 8px;
    }

    nav a:hover {
        text-decoration: underline double;
        background-color: #eee;
        color: #000;
    }

    .postings-grid {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on larger screens */
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header h1, a {
        margin: 0 2rem;
    }

    main {
        height: 100%;
    }

    form {
        padding: 30px;
    }
}