header {
    text-align: center;
}

img {
    width: 100%;
    background: #888;
    animation: fade 10s;
    -webkit-animation: fade 10s;
    margin: 10px;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity:1;
    }
}

main {
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    width: 400px;
}

footer {
    text-align: center;
    margin: 0 auto;
}