@font-face {
    font-family: headings;
    src: url(https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap);
}

*{
    margin: 0;
    padding: 0;
    
}

body {
    font-family: 'Playwrite DE Grund', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playwrite DE Grund', sans-serif;
}

.parent{
    display: grid;
    grid-template-rows: auto 1fr auto; /* Header, Content, Footer */
    grid-template-columns: 3fr 1fr; /* Main and Aside */
    height: 100vh;
}

.header{
    display: flex;
    flex-direction: column; /* Stack header title and nav vertically */
    color: white;
    background-color: rgb(48, 46, 46);
    padding: 1rem 0 0 0;
    grid-column: 1 / -1; /* Spans all columns */
    text-align: left;
}

.header h1{
    padding-left: 2rem;
}

/* Navigation Menu with Flex (inside Header) */
.nav-bar{
    display: flex;
    flex: 1 1 100%;
    justify-content: space-around; /* Space between navigation items */
    background-color: black;
    padding: 1rem;
    margin: 1rem 0 0 0;
    align-items: center;
}

.nav-bar a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav-bar a:hover {
    text-decoration: underline;
}


/* Main Content Styling */
.main{
    background-color: rgb(202, 201, 201);
    padding-left: 2rem;
    grid-column: 1 / 2; /* Main content takes the first column */
    grid-row: 2 / 3; /* Between header and footer */
}

/* Aside Content Styling */
.aside{
    background-color: white;
    padding-left: 2rem;
    grid-column: 2 / 3; /* Aside content takes the second column */
    grid-row: 2 / 3; /* Between header and footer */
}

/* Footer Styling */
.footer{
    color: white;
    background-color: rgb(37, 37, 37);
    padding: 2rem;
    grid-column: 1 / -1; /* Spans all columns */
    text-align: center;
}
