:root {
    --font-text: "Roboto", sans-serif;
    --font-title: "Playfair Display", serif;
    --hdr-footer-clr:rgb(192, 0, 0);
    --h2-h3-clr: rgb(0, 100, 0);
    --mob-title: rgb(2, 59, 2);
    --background-clr: rgba(199, 223, 223, 0.973);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures padding and border are included in the element's width and height */
    width: 100%;
    height: 100%;
  }


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: var(--font-text);
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: var(--black);
}

.header {
  background-color: var(--hdr-footer-clr);
  border-bottom: 10px solid var(--h2-h3-clr);
}

.header-title {
  color: var(--white);
  font-family: var(--font-text);
  text-align: center;
}

main {
  flex: 1; /* Take up remaining space between header and footer */
  margin: 0;
  padding: 0;
  background-color: var(--background-clr);
}

picture img {
  width: 100%;
  height: 85dvh;
  object-fit: cover;
  margin: 0;
  padding: 0;
  border-bottom: 10px solid var(--hdr-footer-clr);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 1.5rem;
}

.card__title {
  margin-block: 1rem;
  color: var(--mob-title);
  font-family: var(--font-title);
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card:nth-of-type(2) .card__title::after {
  content: url("/images/weather-cloud-sunny.svg");
  width: 60px;
}

table {
  width: 100%;
  margin-block: 1.2;
}

table tr {
  display: flex;
  gap: 0.5rem;
}

table th {
  flex-basis: 50%;
  text-align: right;
  padding-inline: 4px;
}

table td {
  flex-basis: 50%;

  text-align: left;
}

footer{
  background-color: var(--hdr-footer-clr);
  text-align: center;
  font-weight: bold;
  color: var(--white)
}

@media (min-width: 768px) {
  main {
    position: relative;
    background-color: var(--hdr-footer-clr);
  }
  picture img {
      border-bottom: 0;
  }

  .card {
    width: 300px;
    position: absolute;
    top: 0;
    background: rgba(255, 255, 255, 0.767);
    margin-block: 2rem;
    margin-inline: 1rem;
    border-top-left-radius: 30px;
}

  .card.position-right {
    right: 0;
    bottom: 0;
    top: unset;
  }

  .card__title {
    color: var(--white);
    background: linear-gradient(        90deg,        rgb(0, 100, 0),        rgba(0, 100, 0, 0.486) 90%,        rgba(0, 100, 0, 0.192) 100%      );
    border-radius: 30px ;
    width: 85%;
    flex-direction: row;
    margin: 0 0 10px 20px;
    margin-top: 0.5rem;
    margin-left: -2.8rem;
    padding: 1rem;
    align-items: center;
    justify-content: space-between;
    -webkit-border-radius: 30px ;
    -moz-border-radius: 30px ;
    -ms-border-radius: 30px ;
    -o-border-radius: 30px ;
  }

  footer{
    font-weight: bold;
    font-size: larger;
    color: var(--black);
    background-color: var(--background-clr);
  }
}