:root {
    --hdr-footer-clr: rgb(192, 0, 0);
    --h2-h3-clr: #006400;
    --trans-heading: rgba(3, 71, 3, 0.39);
    --background-clr: rgba(199, 223, 223, 0.973);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
  }

font-face {
    src: url(https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap);
}

*{
    margin: 0;
    padding: 0;

}


header {
    background-color: var(--hdr-footer-clr);
    color: var(--white);
    padding: 1.5rem;
    text-align: center;
    border-bottom: 10px solid var(--h2-h3-clr);
}


.hero{
    grid-column: 1/1;
}

img{
    width: 483px;
    height: 350px;
    border-bottom: 5px solid var(--hdr-footer-clr)
}

.data-weather-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-left: 10px;
}

.data-weather-container{
    width: 400px;
}

h2{
    text-align: center;
    margin: 10px 5px;
}

.row {
	display: grid;
	grid-template-columns: 180px 240px;
    padding: 5px;
}

.row .col {
    align-items: right;
    text-align: right;
}

.row .col2 {
    align-items: left;
    text-align: left;
    margin:  0 0 0 10px;

}

.weather {
    margin-bottom: 10px;
}


footer{
    background-color: var(--hdr-footer-clr);
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    color: var(--white)
}

/* For larger screens */
@media (min-width: 484px) {
    main {
        background-image: url('/mnt/data/place-lg-1160.png'); /* Use the large image as background */
        /*background-size: cover;
        background-position: center;*/
        height: 100%;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    img {
        width: 100%; /* Full width of the main section */
        height: 100%; /* Full height of the main section */
        object-fit: cover;
        margin: 0;
    }

    .about-country{
        display: grid;
        background-color: rgba(255, 255, 255, 0.7); /* Transparent background */
        padding: 20px;
        border-radius: 10px;
        position: absolute;
        bottom: 10%;
        left: 5%;
        width: 40%; /* Adjust width as needed */
        max-width: 250px;
    }

    .about-country, .weather {
        width: 50%; /* Adjust based on design */
        color: #000;
    }

    h2 {
        color: var(--h2-h3-clr);
        text-align: center;
    }

    .row {
        display: grid;
        gr
    }

    footer {
        margin-top: 0;
    }
}
